.slider {
	height: 100%;
}
.button.button-small.icon.ion-minus {
	margin-right: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.tab-item.active, .tab-item:active {
	/*color: #fff;*/
	/*background: #00af33;*/
	/*color: #00af33;*/
	
}
.tab-item {
	background: #f5f5f5;
}
.tabs {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd
}